<div>
    <h5>HDHR Settings
        
        <button class="pull-right btn btn-sm btn-success" style="margin-left: 5px;" ng-click="updateSettings(settings)">
            Update
        </button>
        <button class="pull-right btn btn-sm btn-info" ng-click="resetSettings(settings)">
            Reset Options
        </button>
    </h5>
    <br/>
    <div class="row">
        <div class="col-sm-6">
            <h6>Auto-Discovery</h6>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="ad" ng-model="settings.autoDiscovery">
                <label class="form-check-label" for="ad">Enable SSDP server</label>
            </div>
            <p class="text-center text-info">* Restart required</p>
        </div>
        <div class="col-sm-6">
            <h6>Tuner Count
                <span class="pull-right text-danger">{{error.tunerCount}}</span>
            </h6>
            <input type="number" class="form-control form-control-sm" ng-model="settings.tunerCount"/>
        </div>
    </div>
    
</div>